{% extends 'GuBruJeMusicalBundle::layout.html.twig' %}

{% block musical_body -%}
    <h1 class="page-header">Annonces</h1>

    {% for annonce in annonces %}
        <div class="blog-post">
            <h2> <a href="{{ path('annonce_show', { 'id': annonce.id }) }}">{{ annonce.titre }}</a></h2>
            <em>
                Le <time datetime="{{ annonce.date|date('c') }}" itemprop="datePublished">{{ annonce.date|date('d/m/Y à  H\\hi') }}</time>,
                <span itemprop="author">{{ annonce.auteur }}</span> a écrit :
            </em>
            <div class="well">
            <p>{{ annonce.contenu }}</p>
            </div>

        </div>
    {% endfor %}
{% endblock %}
