{% extends 'GuBruJeMusicalBundle::layout.html.twig' %}

{% block musical_body -%}
    <h1 class="page-header">Annonce</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Titre</th>
            <td>{{ annonce.titre }}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{ annonce.contenu }}</td>
        </tr>
        <tr>
            <th>Auteur</th>
            <td>{{ annonce.auteur }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn-default btn" href="{{ path('homepage') }}">
        Retour
    </a>

    <h3>Commentaires</h3>
    {% for commentaire in commentaires %}
        {% include "GuBruJeMusicalBundle:Commentaire:commentaire.html.twig" %}
        <hr />
    {% else %}
        <p>Pas encore de commentaire.</p>
    {% endfor %}
    <h3>Poster un nouveau commentaire</h3>
    <form method="post" action="{{ path('annonce_ajouter_commentaire', {'id': annonce.id}) }}">
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" class="btn btn-primary" />
    </form>
{% endblock %}
