{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="panel panel-default">
        <div class="panel-heading"> {{ settings.title }}</div>
        <div class="panel-body">
            <ul>
                {% for information in informations %}
                    <li>
                        <a href="{{ path('information_show', { id:information.id }) }}" rel="nofollow"
                           title="{{ information.titre }}">{{ information.titre }}</a>
                        <span class="label label-default pull-right">{{ information.statut.nom }}</span>
                    </li>
                    {#<div>{{ feed.description|raw }}</div>#}
                {% else %}
                    Aucune information
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}