<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Web Musical{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        <!-- Additional css for this site -->
        <link href="{{ asset('bundles/gubrujecore/css/webmusical-style.css') }}" rel="stylesheet" media="screen">
    {% endblock %}
    <meta charset="UTF-8"/>


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
{% block menu %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Web Musical</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse ">
                {{ knp_menu_render('GuBruJeCoreBundle:Builder:mainMenu', { 'style': 'navbar' }) }}
                {# On affiche un coin espace membre :
            * Si le membre est identifié : lien de déconnexion
            * Sinon : formulaire de connexion #}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {{ knp_menu_render('GuBruJeCoreBundle:Builder:userMenu', { 'style': 'navbar-right' }) }}
                   {# <ul class="nav nav-pills nav-stacked">
                        <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>#}
                    {# On affiche le formulaire de login, sauf sur la page de connexion #}
                {% elseif app.request.attributes.get('_route') != 'fos_user_security_login' %}
                    {{ render(controller('GuBruJeUserBundle:Security:login')) }}
                {% endif %}

            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
{% endblock %}
{% block body %}{% endblock %}

<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy GuBruJe Company</p>
    </div>
</footer>
</div>
{% block javascripts %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
