{# S'il y a une erreur, on l'affiche dans un joli cadre #}
 {% if error %}
     <div  class="alert alert-error" >{{ error.messageKey|trans(error.messageData, 'security') }}</div>
 {% endif %}
{# Le formulaire est exactement le même que dans "login", seul la présentation diffère un peu,
   On ne met pas de label aux champs, mais des placeholders #}
<form action="{{ path("fos_user_security_check") }}" method="post" class="navbar-form navbar-right" role="form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

    <div class="form-group">
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
               placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="password" id="password" name="_password" required="required"
               placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" class="form-control"/>
    </div>
    <button type="submit" id="_submit" name="_submit"
            class="btn">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
