{% extends 'GuBruJeMusicalBundle::layout.html.twig' %}

{% block titre %}
    <h1 class="page-header">Information <small>modification</small></h1>
{% endblock %}

{% block musical_body -%}


            {{ form_start(edit_form) }}
            {{ form_row(edit_form.typeInformation) }}
            {{ form_row(edit_form.titre) }}
            {{ form_row(edit_form.contenu) }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" id="_submit" name="_submit" class="btn btn-primary">Modifer</button>
                    <a class="btn btn-default" href="{{ path('homepage') }}">
                        Annuler
                    </a>
                </div>
            </div>
            {{ form_end(edit_form) }}

{% endblock %}

{% block musical_info %}
    <div class="panel panel-default">
        <div class="panel-heading">Information</div>
        <div class="panel-body">
            Toute modification de publication est resoumise aux contrôle et à la validation d'un administrateur.
        </div>
    </div>
    {{ form(delete_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}