{% extends 'GuBruJeMusicalBundle::layout.html.twig' %}

{% block titre %}
    <h1 class="page-header">Informations</h1>
{% endblock %}
{% block musical_body -%}


    {% for information in informations %}
        <div class="blog-post">
            <h2> <a href="{{ path('information_show', { 'id': information.id }) }}">{{ information.titre }}</a> <small>{{ information.typeInformation }}</small></h2>
            <em>
                Le <time datetime="{{ information.date|date('c') }}" itemprop="datePublished">{{ information.date|date('d/m/Y à  H\\hi') }}</time> par
                <span itemprop="author">{{ information.auteur }}</span>
            </em>
            <div class="well">
                <p>{{ information.contenu }}</p>
            </div>

        </div>
    {% else %}
        <p>Aucune information</p>
    {% endfor %}
{% endblock %}