{% extends 'GuBruJeMusicalBundle::layout.html.twig' %}

{% block titre %}
    <h1 class="page-header">Information <small>création</small></h1>
{% endblock %}

{% block musical_body -%}

    {{ form_start(form) }}
    {{ form_row(form.typeInformation) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.contenu) }}
    <div class="control-group">
        <div class="controls">
            <button type="submit" id="_submit" name="_submit" class="btn btn-primary">Créer</button>
            <a class="btn btn-default" href="{{ path('homepage') }}">
                Annuler
            </a>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block musical_info %}
    <div class="panel panel-default">
        <div class="panel-heading">Information</div>
        <div class="panel-body">
            Toute publication est soumise aux contrôle et à la validation d'un administrateur.
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}