{% extends 'GuBruJeMusicalBundle::layout.html.twig' %}

{% block musical_body -%}
    <h1 class="page-header">Information</h1>

    <table >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ entity.contenu }}</td>
            </tr>
        </tbody>
    </table>

        <a class="btn-default btn" href="{{ path('information') }}">
            Retour
        </a>
        <a class="btn btn-default" href="{{ path('information_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    {{ form(delete_form) }}
{% endblock %}
