{% extends 'GuBruJeMusicalBundle::layout.html.twig' %}

{% block titre %}
    <h1 class="page-header">{{ information.titre }} <small>{{ information.typeInformation }}</small></h1>
{% endblock %}

{% block musical_body -%}
    <em>
        Le
        <time datetime="{{ information.date|date('c') }}"
              itemprop="datePublished">{{ information.date|date('d/m/Y à  H\\hi') }}</time>
        par
        <span itemprop="author">{{ information.auteur }}</span>
    </em>
    <div class="well">
        <p>{{ information.contenu }}</p>
    </div>

{% endblock %}
