{% import _self as userHelper %}

<div id="comment{{ commentaire.id }}" itemscope itemtype="http://schema.org/Comment">
    {% if is_granted('ROLE_ADMIN') %}
        <div class="pull-right">
            <a href="{{ path('annonce_supprimer_commentaire', {'id': commentaire.id}) }}" class="btn popup-confirm">
                <i class="fa fa-trash "></i>
            </a>
        </div>
    {% endif %}
    <em>
        Le <time datetime="{{ commentaire.date|date('c') }}" itemprop="datePublished">{{ commentaire.date|date('d/m/Y à  H\\hi') }}</time>,
        <span itemprop="author">{{ userHelper.link(commentaire.user, commentaire.auteur) }}</span> a écrit :
    </em>
    <br />
    {{ commentaire.contenu|markdown }}
</div>

{% macro link(user, username) %}
    {% spaceless %}
        {% if user is not null %}
            {{ user.username }}
        {% else %}
            {{ username }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}